.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.grid {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.grid1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.grid2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.grid3 {
  grid-column: 1 / span 3;
  grid-row: 3;
}
p {
  color:blue
}
input {
 background-color:aliceblue
}

